
  
  .todo-list-item-card {
    width: 48%;
    margin-left: 24%;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 6px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 12px;
    flex-basis: calc(10% - 24px); 
    gap: 10px;
    border: 5px solid rgb(243, 136, 136)
  }
  
  .priority {
    font-weight: bold;
    text-align: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
  }
  
  .low {
    background-color: #68b0ab;
    color: #fff;
  }
  
  .medium {
    background-color: #f9d56e;
    color: #fff;
  }
  
  .high {
    background-color: #f26b5e;
    color: #fff;
  }
  
  .description {
    flex: 1;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .actions {
    margin-left: 12px;
  }
  
  .editButton,
  .deleteButton,
  .saveButton,
  .cancelButton {
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 0.8rem;
    margin-left: 6px;
    cursor: pointer;
  }
  
  .editButton {
    background-color: #e2e2e2;
  }
  
  .deleteButton {
    background-color: #f26b5e;
    color: #fff;
  }
  
  .saveButton {
    background-color: #68b0ab;
    color: #fff;
  }
  
  .cancelButton {
    background-color: #e2e2e2;
  }
  
  .doneCheckbox {
    margin-right: 6px;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
   
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1.2rem;
  }
  
  .select-field {
    width: 100%;
    padding: 6px;
    margin-bottom: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1.2rem;
  }
  
  .todo-form-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
  }
  