.todo-list-item-card {
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 6px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 12px;
}

.todo-list-item-card .priority {
  font-weight: bold;
  text-align: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

.todo-list-item-card .low {
  background-color: #68b0ab;
  color: #fff;
}

.todo-list-item-card .medium {
  background-color: #f9d56e;
  color: #fff;
}

.todo-list-item-card .high {
  background-color: #f26b5e;
  color: #fff;
}

.todo-list-item-card .subject {
  flex: 1;
  font-size: 1.2rem;
  font-weight: bold;
}
